<!-- app/templates/user.html, Version 1 -->
{% extends "base.html" %}
{% block app_content %}
	<table class="table">
		<tr>
			<td width="128px">
				<img src="{{ user.avatar(128) }}">
			</td>
			<td>
				<h1>User: {{ user.username }}</h1>
				{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
				{% if user.last_seen %}<p>Zuletzt gesehen am: {{ user.last_seen }}</p>{% endif %}
				{% if user == current_user %}
				<p><a href="{{ url_for('edit_profile') }}">Profil bearbeiten</a></p>
				{% endif %}
			</td>
		</tr>
	</table>
	<hr>
	<h2>Meine Rezepte</h2>
	<br>
	{% for post in posts %}
		{% include '_post.html' %}
	{% endfor %}
	<nav aria-label="...">
		<ul class="pager">
			<li class="previous{% if not prev_url %} disabled{% endif %}">
				<a href="{{ prev_url or '#' }}">
					<span aria-hidden="true">&larr;</span> Neuere Rezepte
				</a>
			</li>
			<li class="next{% if not next_url %} disabled{% endif %}">
				<a href="{{ next_url or '#' }}">
					Ältere Rezepte <span aria-hidden="true">&rarr;</span>
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}
